<form method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Файл грамоты</label>
        <input type="file" id="file" name="example" multiple>
        <!-- <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png"> -->

        <label for="file">Файл заполнения</label>
        <input type="file" id="file" name="info" multiple>
        <!-- <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png"> -->
    </div>
    <div>
        <button>Обработать</button>
    </div>
</form>


<!-- {% extends 'base.html' %}

{% block content %}
{{ super() }}
{% if a %}
    <h1>{{ a }}</h1>
{% endif %}
{% endblock %} -->